<!DOCTYPE html>
<html>

<head>
    <title> CAR RESALE VALUE PREDICTION</title>
    <style>
        div {
            padding: 8px;
        }

        h1,
        h2 {
            text-align: center;
            text-transform: uppercase;
            color: #273342;
        }

        p {
            text-indent: 50px;
            text-align: justify;
            letter-spacing: 3px;
        }

        a {
            text-decoration: underline;
            color: #543fd7;
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div>
        <h1>The resale value predicted is </h1>
        <h2><i class="fa fa-inr"></i>{{ypred}}</h2>
    </div>
</body>

</html>